html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
------------------------------------------------------------------------------
CSS starts here---------------------------------------------------------------
------------------------------------------------------------------------------
*/
body {
    overflow-x: scroll;
}

.projectContainer {
    width: 300vw;
    display: flex;
    align-items: stretch;
}
.projectBody {
    background-color: grey;
    vertical-align: top;
    position: relative;
}
.slotBody {
    height: 10px;
    background-color: grey;
    position: relative;
    display: flex;
}
.slotLabel {
    height: 10px;
    background-color: pink;
}
.slotCell {
    background-color: orange;
    flex-grow: 1;
    text-align: center;
    font-size: 10px;
    /* height: 100%; */
}
.projectLabel, .projectSlotLabelContainer {
    position: sticky;
    left: 0;
    z-index: 1;
    width: 50px;
    background-color: green;
    line-height: 10px;
    font-size: 10px;
}
.projectLabel {
    display: flex;
    align-items: center;
}
.projectSlotLabelContainer {
    background-color: lightgreen;
    left: 50px;
}
.projectCreateSlotButton {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 10px;
    background-color: red;
}


.activeInput {
    flex-grow: 0;
}
.activeInput > input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 10px;
}

.header {
    width: 100vw;
    height: 25px;
    background-color: green;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    padding-left: 100px;
}
.headerCell {
    width: 50px;
    text-align: center;
    font-size: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.headerCell, .slotCell {
    box-sizing: border-box;
}
.columnLine {
    background-color: black;
    width: 1px;
    height: 100vh;
    position: absolute;
    top: 0;
}


.separator {
    width: 300vw;
    height: 10px;
    background-color: blue;
}
.newProject {
    width: 20px;
    height: 20px;
    background-color: orange;
}

.start, .end {
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: purple;
    z-index: 1;
}
.start:hover, .end:hover {
    cursor: pointer;
}
.start {
    left: 0px;
}
.end {
    right: 0px;
}

.contextPane {
    width: 100px;
    height: 150px;
    position: absolute;
}
.partialWidth, .fullWidth, .wrapper {
    float: left;
    height: 30px;
}
.wrapper {
    display: flex;
    align-items: center;
    width: 20%;
}
.contextPane img {
    width: 100%;
}
.partialWidth {
    width: 80%;
    background-color: blue;
}
.fullWidth {
    width: 100%;
    background-color: green;
}