html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
------------------------------------------------------------------------------
CSS starts here---------------------------------------------------------------
------------------------------------------------------------------------------
*/

body {
    overflow: hidden;
}

* {
    background-color: lightgrey;
    user-select: none;
    box-sizing: border-box;
}
div, form, input {
    border: solid black 1px;
}
input {
    background-color: white;
}

.margin {
    height: 30px;
    width: 100vw;
    z-index: 2;
}
.bottomMargin {
    bottom: 0px;
}
.topAxisContainer {
    height: 30px;
    background-color: yellow;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    left: 175px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    visibility: hidden;
}
.timeBlock {
    height: 30px;
    display: inline-block;
    width: 50px;
    position: relative;
    box-sizing: border-box;
    visibility: visible;
}
.mainWindow {
    top: 0px;
    bottom: 35px;
    width: 100vw;
}
.row {
    position: absolute;
}
.separator {
    width: 100vw;
    height: 5px;
    background-color: red;
    z-index: 2;
}
.top {
    top: 30px;
}
.mid {
    position: relative;
}
.bottom {
    bottom: 30px;
}

.marginElement {
    height: 100%;
}
.button {
    text-align: center;
    font-weight: bolder;
    line-height: 30px;
    cursor: pointer;
}
.addType {
    float: left;
    width: 50px;
}
.zoomContainer, .openNewWindow {
    float: right;
}
.zoomContainer {
    width: 100px;
}
.zoomIn, .zoomDisplay, .zoomOut {
    float: left;
}
.zoomIn, .zoomOut {
    width: 25%;
}
.zoomDisplay {
    width: 50%;
}
.openNewWindow {
    width: 50px;
}

.sidebar {
    height: 100%;
    width: 175px;
    float: left;
    overflow: hidden;
}
.leftSidebar, .rightSidebar {
    height: 100%;
    width: 50%;
    float: left;
    padding-top: 35px;
    box-sizing: border-box;
}
.createProject, .createLeaveSlot, .createEmployee {
    height: 20px;
    line-height: 20px;
}
.leaveLabel, .typeLabel {
    min-height: 50px;
    text-align: center;
    padding: 30% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentPane {
    position: relative;
    height: 100%;
    background-color: lightgreen;
    white-space: nowrap;
    overflow-x: scroll;
}
.contentPane::-webkit-scrollbar {
    width: 0 !important
}
.contentPane::-webkit-scrollbar-thumb {
    background: lightgrey;
    border: solid black 1px;
}
.projectDisplay {
    min-height: 30px;
    top: 35px;
    position: relative;
    visibility: visible;
    overflow: hidden;
}
.projectContainer {
    top: 30px;
    visibility: hidden;
    border: 0;
}
.projectLabel {
    float: left;
    width: 90%;
    height: 100%;
}
.projectVerticalDragger {
    float: left;
    width: 10%;
}
.projectLabelContainer {
    height: 30px;
    min-height: 30px;
}
.createEmployeeSlot {
    position: absolute;
    left: 98.5vw;
    margin: auto 0;
    visibility: visible;
    height: 20px;
    z-index: 1;
}
.createEmployeeSlot:hover {
    cursor: pointer;
}

.employeeSlot {
    top: 35px;
    height: 25px;
    position: absolute;
    visibility: visible;
    z-index: 1;
    overflow: hidden;
}
.employeeSlotLabelContainer {
    border: 0;
    visibility: hidden;
    position: relative;
}
.employeeSlotLabel {
    height: 25px;
    width: 86px;
    box-sizing: border-box;
    visibility: visible;
}
.employeeSlotWorkloadBlock {
    width: 50px;
    height: 100%;
    display: inline-block;
}

.employeeSlotWorkloadBlock:first-child {
    width: 30px;
    margin-left: 10px;
}
.employeeSlotWorkloadBlock:last-child {
    width: 30px;
    margin-right: 10px;
}

.employee {
    width: 100%;
    height: 25px;
    top: 35px;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}
.employeeLabel {
    height: 25px;
    width: 86px;
    position: absolute;
}
.employeeWorkloadBlock {
    width: 50px;
    display: inline-block;
    position: absolute;
    visibility: visible;
    height: 100%;
}

.dialogue {
    height: 150px;
    width: 80px;
    position: absolute;
    z-index: 5;
}
.deleteHostButton {
    margin: 0 auto;
    width: 30px;
    height: 30px;
}

.employeeType {
    width: 50px;
    float: left;
}
.employeeTypeInput {
    width: 100%;
    height: 100%;
    float: left;
}
.selectedType {
    background-color: ghostwhite;
}

.gridLine {
    box-sizing: initial;
    background-color: black;
    border: 0;
    position: absolute;
    width: 1px;
    left: -1px;
    height: 10000px;
    pointer-events: none;
}
.positioner {
    position: absolute;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}