html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
------------------------------------------------------------------------------
CSS starts here---------------------------------------------------------------
------------------------------------------------------------------------------
*/

body {
    overflow: hidden;
}

* {
    background-color: lightgrey;
    user-select: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div, form, input {
    border: solid black 1px;
}
input {
    background-color: white;
}

.margin {
    height: 30px;
    width: 100vw;
    z-index: 50;
    border: 0;
}
.bottomMargin {
    bottom: 0px;
}
.topAxisContainer {
    border: 0;
    height: 30px;
    background-color: yellow;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    left: 175px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    visibility: hidden;
}
.timeBlock {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 50px;
    position: relative;
    box-sizing: border-box;
    visibility: visible;
    border: 0;
    color: lightgrey;
}
.labeledTimeBlock::after {
    content: attr(value);
    position: absolute;
    width: 100px;
    text-align: center;
    color: black;
    z-index: 20;
    left: 0;
}
.labeledTimeBlock {
    border-left: solid black 1px;
}

.mainWindow {
    border: 0;
    top: 0px;
    bottom: 35px;
    width: 100vw;
    z-index: -3;
}
.row {
    position: absolute;
}
.separator {
    border-left: 0;
    width: 100vw;
    height: 5px;
    background-color: lightskyblue;
    z-index: 2;
    pointer-events: none;
}
.top {
    top: 30px;
}
.mid {
    position: relative;
}
.bottom {
    bottom: 30px;
}

.marginElement {
    height: 100%;
    border-bottom: 0;
    border-top: 0;
    line-height: 30px;
    text-align: center;
}
.button {
    text-align: center;
    font-weight: bolder;
    line-height: 30px;
    cursor: pointer;
}
.addType {
    float: left;
    width: 50px;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}
.zoomContainer {
    float: right;
}
.zoomContainer {
    width: 100px;
    border: 0;
}
.zoomIn, .zoomDisplay, .zoomOut {
    float: left;
}
.zoomIn, .zoomOut {
    width: 25%;
}
.zoomDisplay {
    width: 50%;
    border: 0;
}
.zoomIn {
    border-right: 0;
}

.sidebar {
    height: 100%;
    width: 175px;
    float: left;
    overflow: hidden;
    padding-right: 10000px;
    margin-right: -10000px;
    box-sizing: initial;
    border: 0;
    background: rgba(0, 0, 0, 0);
}

.leftSidebar, .rightSidebar {
    height: 100%;
    width: 50%;
    float: left;
    padding-top: 33px;
    box-sizing: border-box;
    border: 0;
}
.createProject, .createLeaveSlot, .createEmployee {
    height: 20px;
    line-height: 20px;
    border: 0;
    border-right: solid black 1px;
}
.leaveLabel, .typeLabel {
    border-left: 0;
    border-top: 0;
    min-height: 50px;
    text-align: center;
    padding: 30% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leaveSlotLabelContainer, .employeeContainer {
    position: relative;
    visibility: hidden;
    border: 0;
}
.leaveSlotLabelContainer {
    min-height: 50px;
}
.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 31px;
    background-color: lightgrey;
    z-index: -1;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
}
.stripe {
    border: 0;
}
.stripe:nth-child(even) {
    background-color: white;
}
.contentPane {
    position: relative;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    white-space: nowrap;
    overflow-x: scroll;
}
.contentPane::-webkit-scrollbar {
    width: 0 !important;
}
.contentPane::-webkit-scrollbar-thumb {
    background: lightgrey;
    border: solid black 1px;
}
.projectDisplay {
    background-color: #8e8e8e;
    border: 0;
    border-left: solid lightskyblue 5px;
    border-right: solid lightskyblue 5px;
    min-height: 30px;
    top: 30px;
    position: relative;
    visibility: visible;
    overflow: hidden;
    z-index: 1;
}
.unsecured {
    background: repeating-linear-gradient(45deg, red, white 5px, red 5px, white 5px);
    opacity: 0.8;
}
.projectContainer {
    top: 30px;
    visibility: hidden;
    border: 0;
}
.line {
    position: absolute;
    z-index: 3;
    border: 0;
    height: 1px;
    background-color: black;
    bottom: 0;
    width: 10000px;
}
.projectLabel {
    float: left;
    width: 100%;
    height: 100%;
    border-left: 0;
    border-top: 0;
    text-align: center;
}
.projectLabelContainer {
    height: 30px;
    min-height: 30px;
    position: relative;
    border: 0;
}
.createEmployeeSlot {
    position: absolute;
    left: 98.5vw;
    margin: auto 0;
    visibility: visible;
    height: 20px;
    z-index: 1;
    font-weight: bold;
}
.createEmployeeSlot:hover {
    cursor: pointer;
}

.employeeSlot {
    border: solid grey 1px;
    top: 35px;
    height: 25px;
    position: absolute;
    visibility: visible;
    z-index: 1;
    overflow: hidden;
    background-color: lightskyblue;
}
.employeeSlot:first-child {
    border-top: 0;
}

.employeeSlotLabelContainer {
    border: 0;
    visibility: hidden;
    position: relative;
}
.employeeLabel, .employeeSlotLabelWrapper {
    height: 25px;
    width: 100%;
    border-right: 0;
    box-sizing: border-box;
    visibility: visible;
    display: block;
    border: 0;
}
.employeeSlotLabelWrapper {
    visibility: hidden;
    position: relative;
}
.employeeSlotLabelWrapper > input, .employeeLabel {
    border: 0;
    border-bottom: solid grey 1px;
    text-align: center;
}
.employeeSlotLabel, .autocompleteLabel {
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: visible;
}
.employeeSlotLabel, .assignGroupLabel {
    z-index: 1;
    background: transparent;
}
.assignGroupLabel, .assignGroupAutocomplete {
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: visible;
    top: 0;
    left: 0;
    border: 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.employeeSlotWorkloadBlock {
    width: 50px;
    height: 100%;
    display: inline-block;
    border: 0;
    border-right: solid grey 1px;
    text-align: center;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.employeeSlotWorkloadBlock:first-child {
    width: 30px;
    margin-left: 10px;
    border-left: solid grey 1px;
}
.employeeSlotWorkloadBlock:last-child {
    width: 30px;
    margin-right: 10px;
}

.employee {
    width: 100%;
    height: 25px;
    top: 35px;
    position: absolute;
    overflow: hidden;
    border: 0;
    text-align: center;
    line-height: 25px;
}
.employeeWorkloadBlock {
    width: 50px;
    position: absolute;
    visibility: visible;
    height: 100%;
    border: 0;
    border-bottom: solid black 1px;
}

.dialogue {
    height: 150px;
    width: 80px;
    position: absolute;
    z-index: 5000;
}
.dialogueElement {
    width: 100%;
    border: 0;
    text-align: center;
    padding: 5% 0;
    border-bottom: solid black 1px;
    position: relative;
}
.dialogueElement:not(input) {
    cursor: default;
}
.fixedElement {
    height: 30px;
}
.small {
    font-size: 14px;
}

.employeeType {
    width: 50px;
    float: left;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}
.employeeTypeInput {
    width: 100%;
    height: 100%;
    float: left;
}
.selectedType {
    background-color: ghostwhite;
}

.totalWorkloadRow, .totalEmployeesRow, .surplusRow {
    position: relative;
    left: 175px;
    height: 25px;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    border: 0;
    line-height: 25px;
    text-align: center;
}
.totalWorkloadLabel, .totalEmployeesLabel, .surplusLabel {
    position: relative;
    height: 25px;
    top: -75px;
    left: 86px;
    text-align: center;
    background-color: white;
    border: 0;
    border-bottom: solid grey 1px;
    line-height: 25px;
}
.totalTypeLabel {
    position: relative;
    height: 75px;
    top: -150px;
    border-top: 0;
    border-left: 0;
    text-align: center;
    line-height: 75px;
}
.bottomElement {
    border: solid lightgrey 1px;
}

.gridLine {
    box-sizing: initial;
    background-color: black;
    border: 0;
    position: absolute;
    width: 1px;
    left: -1px;
    top: 30px;
    height: 10000px;
    pointer-events: none;
}
.positioner, .backgroundPositioner {
    position: absolute;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}